.content {
    display: flex;
    
    a {
        text-decoration: none;
    }
    
    a:hover .typeTitle, a:hover .landingImg {
        opacity: 1;
    }
}

.landingImg {
    width: 100%;
    opacity: 0.7;
}

.typeTitle {
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.6;
    padding: 25px;
}

@media (max-width: 600px) {    
    .content {
        flex-direction: column;
        align-items: center;
        
        a {
            width: 80%;
            justify-content: center;
        }
    }
}