.contentList {
    width: 80%;
    margin: 0 auto;
}

.elementsList {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.listTitle {
    color: white;
    padding: 50px 0 20px 0;
    font-size: 30px;
}

.bx--list--unordered > .bx--list__item::before {
    content: "" !important;
}

.elementTitle {
    position: absolute;
    width: 100%;
    color: white;
    background: black;
    opacity: 0.6;
    bottom: 3px;
    padding: 10px;
}

.elementDetail {
    width: 20%;
    cursor: pointer;
}

.elementDetail img {
    width: 100%;
}

.description {
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 3px;
    visibility: hidden;
}

.elementDetail:hover .backDescription {
    height: 250px;
    background-color: black;
    position: absolute;
    bottom: 3px;
    opacity: 0.6;
    width: 100%;
}

.elementDetail:hover .description {
    visibility: visible;
}

.elementDetail:hover .elementTitle {
    visibility: hidden;
}
.year {
    display: flex;
    align-items: center;
}
.calendarIcon {
    width: 15px;
}

.searchSpace {
    height: 47px;
    background-color: red;
    display: flex;
    justify-content: space-around;
}

.bx--dropdown__wrapper {
    width: 110px;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .elementDetail {
        width: 50%;
    }
}