.contentList {
    width: 80%;
    margin: 0 auto;
}

.elementsList {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.listTitle {
    color: white;
    padding: 50px 0 20px 0;
    font-size: 30px;
}

.elementTitle {
    position: absolute;
    width: 100%;
    color: white;
    background: black;
    opacity: 0.6;
    bottom: 3px;
    padding: 10px;
}

.elementDetail {
    width: 20%;
    cursor: pointer;
    
    img {
        width: 100%;
    }
    
    &:hover .backDescription {
        height: 250px;
        background-color: black;
        position: absolute;
        bottom: 3px;
        opacity: 0.6;
        width: 100%;
    }
    
    &:hover .description {
        visibility: visible;
    }
    
    &:hover .elementTitle {
        visibility: hidden;
    }
}

.description {
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 3px;
    visibility: hidden;
}
.year {
    display: flex;
    align-items: center;
}
.calendarIcon {
    width: 15px;
}

.searchSpace {
    height: 47px;
    background-color: red;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    .elementDetail {
        width: 50%;
    }
}