@import './components/LandingPage/index.scss';
@import './components/MovieShows/index.scss';
@import './components/TvShows/index.scss';
@import './components/ElementsList/index.scss';
@import './components/Footer/index.scss';

.bx--content {
    background-color: #2d2c2c !important;
}

.bx--header__action:active, a.bx--header__menu-item:active, a.bx--header__menu-item:hover, a.bx--header__menu-item:focus {
    background-color: red !important;
}

.bx--search {
    width: 50% !important;
}

.bx--search--xl .bx--search-input {
    height: 2rem !important;
    border-radius: 25px;
}

.bx--dropdown__wrapper {
    width: 110px;
    display: flex;
    align-items: center;
}

.bx--list--unordered > .bx--list__item::before {
    content: "" !important;
}